footer {
  display: block;
  background-color: $color-gray-darkest;
  padding-top: 1.5rem;
  text-align: center;

  & a.author {
    text-decoration: none;
    font-weight: bold;
    color: $color-shade-medium;
  }
}
