footer {
  display: block;
  background-color: $color-shade-darkest;
  color: $color-ghost-white;
  padding-top: 1.5rem;
  text-align: center;

  & a.author {
    text-decoration: none;
    font-weight: bold;
    color: $color-shade-dark;
  }
}
