header {
  @include card(1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-gray-pitch;
  opacity: 0.8;

  & #logo {
    padding-top: 2rem;
    padding-left: 2rem;
    & h4 {
      color: $color-gray-light
    }
  }

  & #social-links {
    padding-top: 1.52rem;
    font-size: 3rem;
    text-align: right;
    padding-right: 2.5rem;

    a {
      text-decoration: none;
    }

    a:hover {
      @extend .jbounce;
    }

    & #twitter {
      color: $color-social-twitter;
    }

    & #github {
      color: $color-social-github;
    }

    & #linkedin {
      color: $color-social-linkedin;
    }
  }
}
