<div class="container">
  <div class="row">
    <div class="six columns">
      <div class="panel">
        <form>
          <div class="row">
            <label for="username">Username</label>
            <input class="u-full-width" type="text" placeholder="username">
            <label for="username">Username</label>
            <input class="u-full-width" type="text" placeholder="username">
          </div>
          <input class="button-primary" type="submit" value="Login">
        </form>
      </div>
    </div>
    <div class="six columns">
      <div class="panel">

      </div>
    </div>
  </div>
</div>
