<div class="row">
  <div id="logo" class="three columns">
    <h4>ToDo App</h4>
  </div>
  <div id="navigation" class="six columns">
    <ul class="inline unstyled">
      <li>placeholder</li>
    </ul>
  </div>
  <div id="social-links" class="three columns">
    <ul class="inline unstyled">
      <li ng-repeat="link in socialLinks">
        <a ng-href="link.href" class="animate">
          <i id="{{link.name}}" class="ico ico-left fa fa-{{link.name}}"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
