<div class="row">
  <div id="logo" class="three columns">
    <h4>ToDo App</h4>
  </div>
  <div id="navigation" class="six columns">
    <ul class="inline unstyled">
      <li>placeholder</li>
    </ul>
  </div>
  <div id="social-links" class="three columns">
    <ul class="inline unstyled">
      <li>
        <a href="https://twitter.com/neet_jn">
          <i id="twitter" class="ico ico-left fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="http://github.com/neetjn">
          <i id="github" class="ico ico-left fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/john-nolette-69ba72132">
          <i id="linkedin" class="ico ico-left fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
