button {
  @include card(1);
  border-radius: 1px;
  border: none;
  padding: 0rem 3rem;
  color: $color-ghost-white;
  background-color: $color-primary;
  &.is-danger {
    background-color: $color-danger;
  }
  &.is-warning {
    background-color: $color-warning;
  }
  &.is-info {
    background-color: $color-info;
  }
  &.is-success {
    background-color: $color-success;
  }
  &:focus, &:hover {
    color: $color-ghost-white;
  }
  &:focus {
  }
}
