input[type], textarea, select {
  @include card(1);
  border-radius: 1px;
  border: 0.1rem solid $color-ghost-white;
  padding: 1.5rem 0.5rem;
  background-color: $color-ghost-white;
  &:focus {
    @include card(3);
    transition: border .7s ease-in-out;
    border: 0.1rem solid $color-gray-lightest;
  }
}
