.ico {
  display: inline-block;
  &.ico-left {
    padding-right: $ico-dist;
  }
  &.ico-right {
    padding-left: $ico-dist;
  }
  &.ico-fixed {
    padding-right: $ico-dist;
    padding-left: $ico-dist;
  }
  &.ico-small {
    font-size: smaller;
  }
  &.ico-large {
    font-size: larger;
  }
}
