<div class="container">
  <ul class="unstyled">
    <li>
      <i class="ico ico-left fa fa-code-fork"></i> Boilerplate by <a class="author" href="https://github.com/neetVeritas/">John Nolette</a>
    </li>
    <li>
      Designed with <i class="ico ico-fixed fa fa-heart" style="color: #cc0000;"></i> using SkeletonCSS
    </li>
    <li>
      Powered by <i class="ico ico-fixed fa fa-code"></i> Angular.js
    </li>
    <li style="padding-top: 0.5rem;">
      <a class="github-button" href="https://github.com/neetVeritas" aria-label="Follow @neetVeritas on GitHub">Follow @neetVeritas</a>
    </li>
  </ul>
</div>
