@import 'variables.scss';

@import 'mixins/card.scss';
@import 'mixins/media-queries.scss';
@import 'mixins/push-auto.scss';
@import 'mixins/responsive-ratio.scss';

@import 'partials/icons.scss';

@import 'components/header.scss';
@import 'components/footer.scss';

* {
  font-family: $font-general;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

body {
  background-color: $color-shade-lighter;
}

body, .wrapper {
  height: 100%;
}

.is-flex {
  flex-direction: column;
}

.wrapper {
  background-color: $color-shade-light;
  section[ui-view] {
    flex: 1;
    margin-top: 15rem;
  }
}
