// # http://www.color-hex.com/color-palette/41867
$color-shade-dark: #757779;
$color-shade-medium: #c2c0bc;
$color-shade-lighter: #d3d1cc;
$color-shade-light: #e2e1dd;
$color-shade-lightest: #f1e9e6;


// # https://fonts.google.com/selection?selection.family=Permanent+Marker|Poppins|Ubuntu
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins|Ubuntu');
$font-general: 'Ubuntu', sans-serif;
$font-note: 'Poppins', sans-serif;
$font-title: 'Permanent Marker', cursive;

$ico-dist: 0.5rem;
