// # (website) http://www.color-hex.com/color-palette/184

$color-gray-lightest: #999999;
$color-gray-light: #777777;
$color-gray-medium: #555555;
$color-gray-dark: #333333;
$color-gray-darkest: #111111;

// # (components) http://www.color-hex.com/color-palette/46804

$color-shade-lightest: #d0c4ad;
$color-shade-light: #d2d0c9;
$color-shade-medium: #c9c4c4;
$color-shade-dark: #9f9595;
$color-shade-darkest: #2d2323;

// # (controls) http://www.color-hex.com/color-palette/5452

$color-danger: #d9534f;
$color-warning: #D9984F;
$color-info: #5bc0de;
$color-success: #5cb85c;
$color-primary: #777183;

// # (social) http://www.color-hex.com/color-palette/44617

$color-social-google: #cc181e;
$color-social-twitter: #2793e8;
$color-social-facebook: #3b5998;
$color-social-github: #8a3ab9;
$color-social-linkedin: #4c68d7;

$color-white: #fff;
$color-ghost-white: #f8f8ff;

// # https://fonts.google.com/selection?selection.family=Permanent+Marker|Poppins|Ubuntu

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins|Ubuntu');
$font-general: 'Ubuntu', sans-serif;
$font-note: 'Poppins', sans-serif;
$font-title: 'Permanent Marker', cursive;

$ico-dist: 0.5rem;
